# Data Science Final Project

## Introduction
This notebook is created to demonstrate various aspects of data science including languages, libraries, tools, and basic arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Tool | Description |
|------|-------------|
| Jupyter | Interactive computing environment |
| RStudio | Integrated development environment for R |
| Apache Spark | Cluster-computing framework |

## Arithmetic Expression Examples
Below are examples of basic arithmetic operations.

In [3]:
# Multiplication and addition
a = 5
b = 3
multiplication = a * b
addition = a + b
print(multiplication)
print(addition)

15
8

In [4]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(hours)

2.5

## Objectives
- Understand the basic data science languages
- Familiarize with popular data science libraries
- Learn about common data science tools
- Perform basic arithmetic operations in Python

In [7]:
## Author
print("Seharish Fatima")

Seharish Fatima